body {
    background-image: url("https://blog.nature.org/science/files/2019/01/bear-featured-image.jpg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
    color: black;
}

h1 {
    font-size: 300%;
    text-align: center;
}

p::before{
    content: "-----";
}

p{
    width: 1200px;
}